extends layout

block content

    div.content
        if post
            .post
                h1 
                    a(href='/posts/show/#{post._id}') #{post.title}
                p.meta Created in #{post.category} by #{post.author} on #{moment(post.date).format('MM-DD-YYYY')} 
                p #{post.body}
        else
            p.no-posts Sorry, requested post is no longer available