extends layout

block content

    br
    br

    div.content
        if post
            .post
                h1 #{post.title}
                p.meta Created in category '#{post.category}' by '#{post.author}' on #{moment(post.date).format('MM-DD-YYYY')}
                br
                img.singlepostimg.center(src='/images/uploads/#{post.imageName}')
                br
                != post.content
        else
            p.no-posts Sorry, requested post is no longer available