extends layout

block content
    
    br
    br
    
    .well
        ul 
            li NodeJS Blog App
            li This app allows you to view and add posts
            li This app allows you to add new categories
            li No user login available. Anyone can create any posts (freedom of speech?)
    
    div.content
        if posts
            each post in posts
                .post
                    h1 
                        a(href='/posts/show/#{post._id}') #{post.title}
                    p.meta Created in category '#{post.category}' by '#{post.author}' on #{moment(post.date).format('MM-DD-YYYY')}
                    p #{post.content}
                    a.btn.btn-info(href='/posts/show/#{post._id}') Read More
        else
            p.no-posts No posts found to display